{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>
    <!--form will send user to /register route-->
    <form action="/register" method="post">
        <!-- textbox to input name-->
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
            <!-- this jinja loop populates radio buttons, which are like checkboxes
                 but only allow for one to be selected-->
            {% for sport in sports %}
                <input name="sport" type="radio" value="{{ sport }}"> {{ sport }}
            {% endfor %}
        <!--button to submit form -->
        <input type="submit" value="Register">

    </form>

{% endblock %}